@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

:root {
  --main-color: #f28907;
  --black: rgba(0, 0, 0, 0.5);
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  color: #000;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

body{
  background-color: #f28907;
}

#containerMain {
 height: 1061px;
 width: 210rem;
 margin-top: 10rem;
  display: flex;
  align-items: center;
  -ms-flex-pack: end;
  position: relative;
  margin-left: 25rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  background-color: #fff;
}

/* Conteudo Banner Login começa aqui */

#banner{
  height: 95vh;
  width: auto;
  min-width: 43vw;
  background-image: url("../../../images/banner.jpeg");
  background-position: center;
  background-size: cover;
}

#wave {
  margin: 34.8vw;
  height: 95vh;
  width: 15%;
  background-image: url("../../../images/Wave.png");
  position: absolute;
  display:block;
  background-position: center;
  background-size: cover;
}

#containerInputsCliente {
  height: 86rem;
  width: 90rem;
  margin-left: 90px;
  background-color: #fff;
}

#containerInputs,
h1 {
  font-size: 6.5rem;
  color: #f28907;
  text-align: center;
  margin-left: 2.8rem;
}


/* Conteudo Banner Login termina aqui */

#bannerPet{
  height: 95vh;
  width: auto;
  min-width: 43vw;
  background-image: url("../../../images/bannerDog1.jpeg");
  background-position: center;
  background-size: cover;
}

#wavePet {
  margin: 53rem;
  height: 95vh;
  width: 15%;
  background-image: url("../../../images/Wave.png");
  position: absolute;
  display:block;
  background-position: center;
  background-size: cover;
}

#wavePetMain {
  margin: 34vw;
  height: 100%;
  width: auto;
  min-width: 15vw;
  background-image: url("../../../images/Wave.png");
  position: absolute;
  display:block;
  background-position: center;
  background-size: cover;
}

.labelCheckbox{
  font-size: 2.5rem;
}

/* Conteudo Banner Cliente começa aqui */

#waveCliente {
  margin: 34vw;
  height: 100%;
  width: auto;
  min-width: 15vw;
  background-image: url("../../../images/Wave.png");
  position: absolute;
  display:block;
  background-position: center;
  background-size: cover;
}

/* Conteudo banner cliente termina aqui */


/* Conteudo banner Next Page cuidador começa aqui */

#bannerNextCuidador{
  height: 95rem;
  width: 100%;
  background-image: url("../../../images/bannerNextPage3.jpg");
  background-position: center;
  background-size: cover;
}

#waveNextCuidador {
  margin: 58rem;
  height: 100%;
  width: 15%;
  background-image: url("../../../images/Wave.png");
  position: absolute;
  display:block;
  background-position: center;
  background-size: cover;
}

/* Conteudo banner login começa aqui */

.bannerLogin{
  height: 95vh;
  width: auto;
  min-width: 43vw;
  background-image: url("../../../images/bannerCliente2.jpg");
  background-position: center;
  background-size: cover;
}

.wavelogin{
  margin: 35vw;
  height: 95vh;
  width: 15%;
  background-image: url("../../../images/Wave.png");
  position: absolute;
  display:block;
  background-position: center;
  background-size: cover;
}

/* Conteudo banner Login termina aqui */

.bannerEsqueciMinhaSenha {
  height: 95vh;
  width: auto;
  min-width: 43vw;
  background-image: url("../../../images/BannerEsqueciMinhaSenha.png");
  background-position: center;
  background-size: cover;
}

#waveEsqueciMinhaSenha {
  margin: 33.7vw;
  height: 95vh;
  width: 15%;
  background-image: url("../../../images/Wave.png");
  position: absolute;
  display:block;
  background-position: center;
  background-size: cover;
}

.containerIconBack{
  position: absolute;
}

.iconBack{
  height: 8rem;
  width: 8rem;
  position: absolute;
  font-size: 4.5rem;
  margin-top: -50rem;
  margin-left: 2rem;
  border-radius: 100%;
  border: solid 1.5px #f28907;
}