
/* Container de modal */
.cardModal {
    height: 129rem;
    width: auto;
    display: none;
    mask-position: fixed;
  }
  
.show{
  display: block !important;
}

.cardModalPag{
  height: 100vh;
  width: 40vw;
  display: none;
}

.containerInfoPagamento h1{
  height: 10vh;
  width: 45vw;
  padding-top: 3vw;
  margin-bottom: 5rem;
  font-size: 2.6vw;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.1);
}

.containerInputsCompra{
  height: 12vh;
  width: 45vw;
  min-width: 40vw;
  display: flex;
  color: #fff;
}

.inputCompra{
  height: 7vh;
  width: 20vw;
  min-width: 19vw;
  margin-top: 3vw;
  margin-left: 1vw;
  border-radius: 55rem;
  border: solid 1px #F28907;
  font-size: 1.1vw;
  padding-left: 1.8vw;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.1);
  background: linear-gradient(
    101.96deg,
    rgba(249, 249, 249, 0.261) -0.52%,
    rgba(249, 249, 249, 0.0775668) 88.4%,
    rgba(249, 249, 249, 0.058) 100.25%
  );
  backdrop-filter: blur(20px); 
  border-radius: 2.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    color: #fff;
}

.labelInputCompra{
  height: 7vw;
  width: 35vw;
  margin-top: 1.2vw;
  position: absolute;
  margin-left: 1.2vw;
  color: #fff;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.1);
}

.labelInputCompraRight{
  height: 7vw;
  min-width: 35vw;
  width: 45vw;
  margin-top: 1.5vw;
  position: absolute;
  margin-left: 22vw;
  color: #fff;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.1);
}

.labelInputCompraDate{
  height: 7vw;
  min-width: 20vw;
  width: 32vw;
  margin-top: 3.5vw;
  position: absolute;
  margin-left: 4.3vw;
  font-size: 2.2vw;
  color: #fff;
}

.inputCompraSelect{
  height: 7vh;
  width: 20vw;
  min-width: 19vw;
  margin-top: 3vw;
  margin-left: 1vw;
  border-radius: 55rem;
  background-color: #F28907;
  font-size: 1.1vw;
  color: #fff;
  padding-left: 2vw;
   text-shadow: 2px 4px 3px rgba(0,0,0,0.1);
  background: linear-gradient(
    101.96deg,
    rgba(249, 249, 249, 0.261) -0.52%,
    rgba(249, 249, 249, 0.0775668) 88.4%,
    rgba(249, 249, 249, 0.058) 100.25%
  );
  backdrop-filter: blur(20px); 
  border-radius: 2.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    color: #fff !important;
}

.inputCompraDate{
  height: 7vh;
  width: 20vw;
  min-width: 19vw;
  margin-top: 3vw;
  margin-left: 1.3vw;
  border-radius: 55rem;
  font-size: 1.4vw;
  color: #fff;
  border: solid 1px #F28907;
  padding-right: 1.5vw;
  padding-left: 2vw;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.1);
  background: linear-gradient(
    101.96deg,
    rgba(249, 249, 249, 0.261) -0.52%,
    rgba(249, 249, 249, 0.0775668) 88.4%,
    rgba(249, 249, 249, 0.058) 100.25%
  );
  backdrop-filter: blur(20px); 
  border-radius: 2.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    color: #fff !important;
}

.containerInputsDateCompra{
  height: 4vh;
  width: 1vw;
  margin-top: 9vw;
}

.containerInputsInfoCompra{
  margin-left: 20vw;
  width: 25.5vw;
  height: 50vh;
  margin-top: 10.5vw;
  display: flex;
  justify-content: center;
}

.typeServiceCompra{
  width: 10vw;
  font-size: 1.5vw;
  margin-left: 2vw;
  color: #fff;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.1);
}

.typeServiceCompraService{
  width: 10vw;
  height: 13.5vh;
  font-size: 1.5vw;
  margin-left: 2vw;
  color: #F28907;
  background: none;
}

.typeServiceCompraServiceTotal{
  width: 5vw;
  height: 5.4vh;
  font-size: 1.5vw;
  margin-left: 3.9vw;
  margin-top: 1.8vw;
  color: #F28907;
  background: none;
}

.InputConfirmarAgendamento{
  height: 7vh;
  width: 20vw;
  border-radius: 30rem;
  background-color: #F28907;
  position: absolute;
  margin-top: 8vw;
  margin-left: -19vw;
  color: #fff;
  font-size: 1.4vw;
  cursor: pointer;
}

.simbolPriceAgendamento{
  position: absolute;
  width: 10vw;
  margin-left: 20vw;
  margin-top: 2.5vw;
  font-size: 1.1vw;
}

.cardModal {
  height: auto;
  min-height: 49vh;
  width: auto;
  min-width: 38vw;
  margin-left: 6vw;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 3.6vw;
  background-color: #fff;
  background: linear-gradient(
    101.96deg,
    rgba(249, 249, 249, 0.261) -0.52%,
    rgba(249, 249, 249, 0.0775668) 88.4%,
    rgba(249, 249, 249, 0.058) 100.25%
  );
  backdrop-filter: blur(20px); 
  border-radius: 2.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.mapCardAgendamentoModal{
  height: 15vh;
  min-height: 15.4vh;
  min-width: 38vw;
  width: 38vw;
  margin-left: 3.5vw;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  margin-top: 5.5vw;
}

@media only screen and (max-width: 1200px){

    .nameCuidador{
      margin-top: 12rem;
    }

  .labelInputCompra{
    font-size: 1.7rem;
    margin-top: 2vw;
    margin-left: 1.5vw;
  }

  .labelInputCompraRight{
    font-size: 1.7rem;
    margin-top: 2vw;
  }

  .inputCompra, .inputCompraSelect, .inputCompraDate{
    margin-top: 5vw;
    height: 4vw;
  }

  .InputConfirmarAgendamento{
    height: 5vh;
    width: 27vw;
  }

  .containerInfoCuidadores{
    height: 105rem;
  }
}
