
/* Container de modal */
.cardModal {
    height: 129rem;
    width: auto;
    display: none;
    mask-position: fixed;
  }
  
.show{
  display: block !important;
}
  
.cardModalPag{
  height: 100vh;
  width: 100vw;
  background-color: purple;
  display: none;
  position: fixed;
}

.showModalPag{
  display: block !important;
}