@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

:root {
  --main-color: #f28907;
  --black: rgba(0, 0, 0, 0.5);
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  color: #000;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

body{
  background-color: #f28907;
}

html {
  font-size: 62.5%;
}

.containerMainPerfilCliente {
 height: 116vh;
 width: 180rem;
 margin-top: 5rem;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background-color: #f28907;
}

.containerBannerCliente{
  height: 40rem;
  width: 180rem;
  background-image: url("../../../images/bannerGolden.jpg");
  background-size: cover;
}

.containerCardPerfilCliente{
  height: 90rem;
  width: 95rem;
  margin-top: 50rem;
  border-radius: 3vh;
  background-color: var(--main-color);
  position: absolute;
}


.containerPefilClienteInfo{
  height: 30rem;
  width: 80rem;
  margin-top: 36rem;
  margin-right: 53rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
}

.cardFotoPerfilCliente{
  height: 19rem;
  width: 20rem;
  margin-left: 2.7rem;
  border: solid 5px #fff;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  background-image: url("../../../images/imagePerfilCuidador.png");
  background-size: cover;
  border-radius: 50%;
}

.containerNamePerfilCliente{
  position: absolute;
  min-width: 30rem;
  width: 43rem;
  font-size: 3.5rem;
  display: flex;
  color: #fff;
  margin-left: 2rem;
  margin-top: 2rem;
}

.containerLocationPerfilCliente{
  position: absolute;
  margin-top: 6.3rem;
  font-size: 1.9rem;
  color: #fff;
  margin-left: 2rem;
}

.containerInfoCardPetCuidador{
  height: 35rem;
  width: 80rem;
  margin-left: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 55rem;
  position: absolute;
  flex-direction: row;
}


.containerPetInfoPet{
  height: 35rem;
  width: 110rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5rem;
  background: linear-gradient(
    101.96deg,
    rgba(249, 249, 249, 0.261) -0.52%,
    rgba(249, 249, 249, 0.0775668) 88.4%,
    rgba(249, 249, 249, 0.058) 100.25%
  );
  backdrop-filter: blur(20px); 
  border-radius: 2.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.containerFotoPerfilPet{
  height: 13rem;
  width: 13rem;
  margin-top: -29rem;
  border: solid 5px #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
  rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  margin-left: 2rem;
  background-image: url("../../../images/fotoPerfilPet.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.containerNamePerfilPet{
  position: absolute;
  margin-top: -11rem;
  font-size: 4rem;
  display: flex;
  color: #fff;
  margin-left: 12.5rem;
  text-align: center;
}

.containerRacaPerfilPet{
  position: absolute;
  font-size: 2rem;
  color: #fff;
  margin-top: -4.5rem;
  margin-left: 12rem;
  text-align: center;
}

.containerBioProfilePet{
  height: 10rem;
  width: 50rem;
  color: #fff;
  margin-top: 12rem;
  position: absolute;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.9rem;
}

.containerInfoProfile{
  height: 10rem;
  width: 45rem;
  margin-top: 3.5rem;
  justify-content: center;
}

.containerMainInfoPet{
  height: 22rem;
  width: 45rem;
  display: flex;
  flex-direction: row;
}

.containerEditPerfil{
  height: 8rem;
  width: 7.8rem;
  position: absolute;
  margin-left: 172.3rem;
  border: solid 0.2px #fff;
}

.iconPencil{
  position: absolute;
  font-size: 3.4rem;
  margin-top: 1vw;
  margin-left: 174.5rem;
}

.icon-close-homeProfile{
  position: absolute;
}

.icon-close-home-profile{
  height: 8rem;
  width: 8rem;
  position: absolute;
  font-size: 4.5rem;
  margin-left: 7rem;
  border-radius: 100%;
  border: solid 1.5px #f28907;
}