@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

:root {
  --main-color: #f28907;
  --black: rgba(0, 0, 0, 0.5);
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  color: #000;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

body{
  background-color: #f28907;
}

html {
  font-size: 62.5%;
}

.containerMainPerfilCliente {
 height: 1366px;
 width: 180rem;
 margin-top: 5rem;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background-color: #f28907;
}

.containerBannerCliente{
  height: 40rem;
  width: 180rem;
  border: solid 1px #fff;
  background-size: cover;
  object-fit: cover;
}

.containerCardPerfilCliente{
  height: 90rem;
  width: 95rem;
  margin-top: 50rem;
  border-radius: 3vh;
  background-color: var(--main-color);
  position: absolute;
}

.containerInputBanner{
  height: 20rem;
  width: 180rem;
  margin-top: 17rem;
  position: absolute;
  display: flex;
  justify-content: center;
}

.inputBanner{
  position: absolute;
  margin-top: 1.5rem;
  opacity: 0;
  z-index: 999;
  cursor: pointer;
}

.containerPencilBanner{
  height: 10rem;
  width: 10rem;
  margin-top: -2.5rem;
  border-radius: 55px;
  border: solid 4px #fff;
  opacity: 45%;
}

.containerPencilBanner:hover{
  height: 10rem;
  width: 10rem;
  margin-top: -2.5rem;
  border-radius: 55px;
  border: solid 4px #fff;
  transition: 0.8s;
  opacity: 85%;
  cursor: pointer;
}

.iconPencil{ 
  font-size: 3.4rem;
  margin-top: 2.8rem;
  position: absolute;
  margin-left: 2.7rem;
}

.containerPefilClienteInfo{
  height: 30rem;
  width: 80rem;
  margin-top: 36rem;
  margin-right: 53rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
}

.cardFotoPerfilCliente{
  height: 19rem;
  width: 20rem;
  margin-left: -8.7rem;
  border: solid 5px #fff;
  box-shadow: rgba(14, 12, 28, 0.15) 0px 48px 100px 0px;
  object-fit: cover;
  background-size: cover;
  border-radius: 50%;
}

.containerInputProfileCliente{
  height: 7rem;
  width: 40rem;
  min-width: 29rem;
  margin-top: 3rem;
  margin-left: 1.3rem;
  margin-bottom: 4rem;
  border-radius: 1.5rem;
  font-size: 3rem;
  color: #fff;
  border: solid 1px #F28907;
  padding-right: 1.5rem;
  padding-left: 15px;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.1);
  background: linear-gradient(
    101.96deg,
    rgba(249, 249, 249, 0.261) -0.52%,
    rgba(249, 249, 249, 0.0775668) 88.4%,
    rgba(249, 249, 249, 0.058) 100.25%
  );
  backdrop-filter: blur(20px); 

  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    color: #fff;
}

.containerLocationPerfilCliente{
  position: absolute;
  margin-top: 6.3rem;
  font-size: 1.9rem;
  color: #fff;
  margin-left: 2rem;
}

.containerSaveAlteratons{
  height: 10rem;
  width: 125rem;
  display: flex;
  justify-content: center;
  align-content: center;
}

.buttonSaveAlterations{
  height: 5.5rem;
  width: 30rem;
  font-size: 2rem;
  border-radius: 55px;
  color: #fff;
  background-color: #f28907;
  border: solid 2px #fff;
  cursor: pointer;
}

.buttonSaveAlterations:hover{
  height: 5rem;
  width: 25rem;
  transition: 0.6s;
  font-size: 2rem;
  border-radius: 55px;
  color: #F28907;
  background-color: #fff;
  border: solid 2px #F28907;
}

.containerInfoCardPetCuidador{
  height: 45rem;
  width: 170rem;
  min-width: 90rem;
  margin-left: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 94rem;
  position: absolute;
  overflow-x: scroll;
    overflow-y: hidden;
  flex-direction: row;
}


.containerPetInfoPet{
  height: 35rem;
  min-width: 60rem;
  margin-right: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5rem;
  background: linear-gradient(
    101.96deg,
    rgba(249, 249, 249, 0.261) -0.52%,
    rgba(249, 249, 249, 0.0775668) 88.4%,
    rgba(249, 249, 249, 0.058) 100.25%
  );
  backdrop-filter: blur(20px); 
  border-radius: 2.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.containerFotoPerfilPet{
  height: 13rem;
  width: 13rem;
  margin-top: -29rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
  rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  margin-left: 2rem;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  background-image: url("../../../images/semFoto.png");
}

.containerNamePerfilPet{
  position: absolute;
  margin-top: -11rem;
  font-size: 4rem;
  display: flex;
  color: #fff;
  margin-left: 12.5rem;
  text-align: center;
}

.containerRacaPerfilPet{
  position: absolute;
  font-size: 2rem;
  color: #fff;
  margin-top: -4.5rem;
  margin-left: 12rem;
  text-align: center;
}

.imgIputProfile{
  height: 10rem;
  width: 20rem;
  margin-top: 14rem;
  margin-left: 10rem;
  opacity: 0;
  z-index: 999;
  position: absolute;
}

.containerBioProfilePet{
  height: 10rem;
  width: 50rem;
  color: #fff;
  margin-top: 12rem;
  position: absolute;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.9rem;
}

.containerInfoProfile{
  height: 10rem;
  width: 125rem;
  margin-left: 100rem;
  margin-top: 20rem;
  float: left;
  position: absolute;
  justify-content: center;
  flex-direction: row;
}

.nameClienteProfile{
  margin: 0;
  color: #fff;
  position: absolute;
  margin-left: 1.2rem;
}

.containerMainInfoPet{
  height: 22rem;
  width: 45rem;
  display: flex;
  flex-direction: row;
}

.icon-close-homeProfile{
  position: absolute;
}

.icon-close-home-profile{
  height: 7rem;
  width: 7rem;
  position: absolute;
  font-size: 4.5rem;
  margin-left: 3rem;
  border-radius: 100%;
  border: solid 3.5px #fff;
  color: #fff;
  padding-left: 1.7rem;
}


.iconInputCameraProfile{
  height: 5rem;
  width: 5rem;
  margin-top: 13rem;
  margin-left: 6rem;
  border-radius: 50px;
  border: solid 3px #fff;
  position: absolute;
  background-color: #f28907;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.iconInputCameraProfilePet{
  height: 5rem;
  width: 5rem;
  margin-top: -21rem;
  margin-left: 12rem;
  border-radius: 50px;
  border: solid 3px #fff;
  position: absolute;
  background-color: #f28907;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.iconPrice{
  margin-left: 0.9rem;
  margin-top: 0.9rem;
  font-size: 2.6rem;
  position: absolute;
  cursor: pointer;
}

.containerDetailsInputProfile{
  color: #fff;
  position: absolute;
  margin-left: -38rem;
  margin-top: 4.5rem;
  font-size: 3rem;
  
}