#containerButtonAgendar{
  height: 23rem;
  width: 23rem;
  margin-top: 6rem;
}
.buttonAgendar{
  height: 4.5rem;
  width: 19rem;
  border-radius: 12px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  background-color: #f28907;
  color: #fff;
  font-size: 2.2rem;
  text-transform: uppercase;
}

#containerButtonAgendarModal{
  height: 1vh;
  width: 37.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 6vw;
}
.buttonAgendarModal{
  height: 6rem;
  width: 25vw;
  border-radius: 21px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  background-color: #f28907;
  color: #fff;
  font-size: 2.2rem;
  text-transform: uppercase;
}