/* Conteudo da main inicia aqui */
#titulo{
    height: 100px;
    /* background-color:gold; */
    padding: 20px 40px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
}

header{
    height: 150px;
    background-size: cover;
   
}

#text1{
color:black
}

#text2{
    color: #F28907;
}

#box-container1{
    height: 900px;
    /* background-color: aqua; */
    display: flex;
    flex-direction:row;
    justify-content: center;
    
}
#pessoas{
    width: 50%;
    height: inherit;
    overflow-y: scroll;
    /* background-color: #F28907; */
}
#containerMapaHistory{
    margin-right: 30px;
    width: 40%;
    height: 50rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.card-history{
    width: 80rem;
    height: 40rem;
    border-radius: 21px;
    background-color: #231d;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.26) 0px 22px 80px 4px;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.foto{
    width:102px;
    height:97px;
    /* background-color: #f20707; */
    margin-left: 24px;
    margin-top: 10px;
    border-radius: 50%;
    /* background-image: url("../../../images/fotoCuidador2.jpeg"); */
    background-size: cover;
}
.texts{
    display: flex;
    flex-direction:column;
    margin-top: 25px;
    text-align: center;
    width: auto;
    height: 29rem;
    /* background-color:   rgb(192, 145, 145); */
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    
    
}

.containerNameHistory{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    flex-direction: row;
}
.nome1{
    font-size: 3rem;
    margin-right: 3rem;
    
}
.nome2{
    margin-top: 8px;
    font-size: 17px;
    color:rgba(0, 0, 0, 0.46);
}

.labelEndereco{
    width: 50rem;
    font-size: 20px;
    color: #757575;
}

.inputSearchHistory{
    height: 6.9rem;
    width: 80vw;
    border-radius: 14rem;
    margin-top: 2rem;
    font-size: 2.6rem;
    padding-left: 7.5rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-left: 10rem;
}

#iconSearchHistory{
    font-size: 4.3rem;
    position: absolute;
    margin-left: 12.5rem;
    margin-top: 3.4rem;
}

.priceHistory{
    margin-top: -2rem;
    font-size: 17px;
    text-align: end;
    width: 62rem;
    color:rgba(0, 0, 0, 0.46);
}

.nome3{
    width: 50rem;
    font-size: 2.2rem;
    text-align: center;
}

.containerDateHistory{
    margin-top: 5rem;
    padding-left: 15rem;
    text-align: center;
}

.dateHistory{
    margin-right: -4rem;
}

.dateHistory2{
    margin-right: -3.8rem;
}

.texts2{
    display: flex;
    flex-direction:column;
    margin-top: 25px;
    margin-left: 113px;
    width: 140px;
    height: 70px;
    /* background-color:   rgb(171, 145, 192); */
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    text-align: right;
    line-height: 29px;
}
.local{
    color:rgba(0, 0, 0, 0.46);
    font-size: 13px;
    font-weight: bold;
}

footer{
    height: 80px;
}


/* Conteudo da main se encerra aqui */

/* Conteudo do header se inicia aqui */

#icon-close{
    width: 50px;
    height:50px;
    background-color: #F28907;
    margin: 50px;
    text-align: center;
    padding-top: 3px;
    border-radius:50%; 
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;   
    font-size: 32px;    
    color: white;
}

.containerFotoHistory{
    height: 10rem;
    justify-content: center;
    display: flex;
    align-content: center;
}

#icon-close-home{
    width: 5rem;
    height: 5rem;
    background-color: #F28907;
    margin: 50px;
    text-align: center;
    padding-top: 3px;
    border-radius:50%; 
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;   
    font-size: 32px;  
    margin-top: -80rem;  
    color: white;
    position: absolute;
}
/* Conteudo do header se encerra aqui */

/* Conteudo do body se incia aqui */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    /* background-color: aqua; */
}

.mapHistory{
    height: 10rem;
    width: 55rem;
    margin-left: 13rem;
    margin-top: 1rem;

}

.containerScrollHistory{
    position: absolute;
}

.containerExit{
    color: #fff;
}


/* Conteudo do body se encerra aqui */