/* Conteudo da main inicia aqui */
#titulo{
    height: 100px;
    /* background-color:gold; */
    padding: 20px 40px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
}

header{
    height: 150px;
    background-size: cover;
   
}

#text1{
color:black
}

#text2{
    color: #F28907;
}

#box-container1{
    height: 900px;
    width: auto;
    /* background-color: aqua; */
    display: flex;
    flex-direction:row;
    justify-content: center;
    
}
#pessoas{
    width: 200rem;
    display: flex;
    justify-content: center;
    height: inherit;
    overflow-y: scroll;
    /* background-color: #F28907; */
}
#containerMapaHistory{
    margin-right: 30px;
    width: 40%;
    height: 50rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.card-history{
    width: 80rem;
    height: 40rem;
    border-radius: 50px;
    background-color: white;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.26) 0px 22px 80px 4px;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.foto{
    width:102px;
    height:97px;
    /* background-color: #f20707; */

    border-radius: 50%;
    /* background-image: url("../../../images/fotoCuidador2.jpeg"); */
    background-size: cover;
 
}
.texts{
    display: flex;
    flex-direction:column;
    margin-top: 25px;
    text-align: center;
    width: 100%;
    height: 29rem;
    /* background-color:   rgb(192, 145, 145); */
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    
    
}

.direcionarNames{
    width: 60%;
    height: 100%;
    gap: 10px;
    display: flex;
}
.containerNameHistory{

    width: 100%;
    height: 20%;
    margin-top: -20px;
    display: flex;
    justify-content: center;   
   
}
.nome1{
    width: 150px;
    min-width: 100px;
    height: 80%;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    
}
.nome2{
    margin-top: 8px;
    font-size: 17px;
    color:rgba(0, 0, 0, 0.46);
}

.labelEndereco{
    width: 30%;
    height: 50%;
    font-size: 20px;
    color: #757575;
    color: #000;
}
.direcionarEndereco{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputSearchHistory{
    height: 6.9rem;
    width: 80vw;
    border-radius: 14rem;
    margin-top: 2rem;
    font-size: 2.6rem;
    padding-left: 7.5rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-left: 10rem;
}

#iconSearchHistory{
    font-size: 4.3rem;
    position: absolute;
    margin-left: 12.5rem;
    margin-top: 3.4rem;
}

.priceHistory{
    font-size: 20px;
    width: 30%;
    height: 50%;
    display: flex;
    position: absolute;
    margin-left: 60rem;
    margin-top: -6rem;
    justify-content: center;
    align-items: center;
    /* color: #F28907; */
    color:rgba(0, 0, 0, 0.46);
}

.nome3{
    width: 50rem;
    font-size: 2.2rem;
    text-align: center;
}

.containerDateHistory{
    margin-top: -5rem;
    padding-left: 15rem;
    text-align: center;
}

.dateHistory{
    margin-right: -4rem;
}

.dateHistory2{
    margin-right: -3.8rem;
}

.texts2{
    display: flex;
    flex-direction:column;
    margin-top: 25px;
    margin-left: 113px;
    width: 140px;
    height: 70px;
    /* background-color:   rgb(171, 145, 192); */
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    text-align: right;
    line-height: 29px;
}
.local{
    color:rgba(0, 0, 0, 0.46);
    font-size: 13px;
    font-weight: bold;
}

footer{
    height: 80px;
}

.containerStatusService{
    height: 15rem;
    width: 80rem;
    display: flex;
    justify-content: center;
    align-content: center;
}

.statusService{
    height: 10rem;
    width: 60rem;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #fff;
    text-transform: uppercase;
    border-radius: 2rem;
    font-size: 2.5rem;
}

.statusServiceCuidador{
    height: 10rem;
    width: 60rem;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 2rem;
    font-size: 2.5rem;
}

.respStatus{
    height: 5rem;
    width: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F28907;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    margin: 0;
    padding-left: 4.5rem;
    margin-left: 3rem;
    text-align: center;
    font-size: 2.3rem;
    border-radius: 10px;
    text-transform: uppercase;
}

.respStatusAcept{
    height: 5rem;
    width: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #009229;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    margin: 0;
    padding-left: 4.5rem;
    margin-left: 3rem;
    text-align: center;
    font-size: 2.3rem;
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer;
}
.respStatusAcept:hover{
    border-radius: 100px;
    transition: 1.6s;
}

.respStatusRecused{
    height: 5rem;
    width: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: red;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    margin: 0;
    padding-left: 4.5rem;
    margin-left: 3rem;
    text-align: center;
    font-size: 2.3rem;
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.respStatusRecused:hover{
    border-radius: 100px;
    transition: 1.6s;
}

/* Conteudo da main se encerra aqui */

/* Conteudo do header se inicia aqui */

#icon-close{
    width: 50px;
    height:50px;
    background-color: #F28907;
    margin: 50px;
    text-align: center;
    padding-top: 3px;
    border-radius:50%; 
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;   
    font-size: 32px;    
    color: white;
}

.direcionar{
    
    width: 100%;
    height: auto;
    margin-top: 15px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.containerFotoHistory{

    height: 10rem;
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

#icon-close-home{
    width: 5rem;
    height: 5rem;
    background-color: #F28907;
    margin: 50px;
    text-align: center;
    padding-top: 3px;
    border-radius:50%; 
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;   
    font-size: 32px;  
    margin-top: -80rem;  
    color: white;
    position: absolute;
}
/* Conteudo do header se encerra aqui */

/* Conteudo do body se incia aqui */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    /* background-color: aqua; */
}

.mapHistory{
    height: 15rem;
    width: 55rem;
    margin-left: 13rem;
    margin-top: -10px;
    border-radius: 10px;

}

.containerScrollHistory{
    position: absolute;
}

.containerExit{
    color: #fff;
}


/* Conteudo do body se encerra aqui */