@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

:root {
  --main-color: #f28907;
  --black: rgba(0, 0, 0, 0.5);
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
  --colorLocation: #949494;
  --colorBiography: #808080;
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  color: #000;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.containerMain {
  background-image: url("../../../images/bannerCuidador2.jpg");
  object-fit: cover;
  background-size: cover;
  min-height: 85vw !important;
  background-repeat: no-repeat;
}

.map {
  height: 35rem;
  width: 100vw;
}

.containerAgendamento {
  height: 150rem;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.containerInputSearch {
  height: 10rem;
  width: 92vw;
}

#iconSearch {
  position: absolute;
  height: 4rem;
  width: 4.5rem;
  margin-top: 2.3rem;
  padding-left: 1.7rem;
}

.inputSearch {
  height: 4.9rem;
  width: 80vw;
  border-radius: 14rem;
  margin-top: 2rem;
  font-size: 2.6rem;
  padding-left: 6.5rem;
}

#containerMainCard {
  height: 131.6vh;
  width: 95vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

/* Container dos cards do cuidador começa aqui */

.containerCardCuidadores {
  height: auto;
  min-height: 1040vh;
  margin-top: 5rem;
  overflow: scroll;
  width: 45vw;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.containerInfoCuidadores {
  margin-top: 3vw;
  height: 104vh;
  width: 48.8vw;
  background-color: #fff;
  background: linear-gradient(
    101.96deg,
    rgba(249, 249, 249, 0.261) -0.52%,
    rgba(249, 249, 249, 0.0775668) 88.4%,
    rgba(249, 249, 249, 0.058) 100.25%
  );
  backdrop-filter: blur(20px); 
  border-radius: 2.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  margin-right: 1rem;
  color: #fff;
}

.containerScrollCardCuidadores{
  height: 136.6vh;
  width: 50vw;
  overflow: scroll;
}

.card {
  height: auto;
  min-height: 49vh;
  width: auto;
  min-width: 38vw;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 3.6vw;
  background-color: #fff;
  background: linear-gradient(
    101.96deg,
    rgba(249, 249, 249, 0.261) -0.52%,
    rgba(249, 249, 249, 0.0775668) 88.4%,
    rgba(249, 249, 249, 0.058) 100.25%
  );
  backdrop-filter: blur(20px); 
  border-radius: 2.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.contentCenterCuidador {
  height: 40vh;
  width: 40vw;
  min-width: 20vw;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin-left: 15vw;
}

.iconInputSave{
  font-size: 1.9rem;
  float: right;
  position: absolute;
}

.locationCuidadorAgendamento{
  font-size: 1.9rem;
  text-align: center;
  margin-left: 0.8vw;
  text-align: center;
  color: var(--colorLocation);
  text-shadow: 2px 4px 3px rgba(0,0,0,0.1);
}

.biographyCuidador {
  font-size: 2.4rem;
  color: #fff;
  margin-left: 2vw;
  margin-top: 0.3vw;
}
.containerInfoCuidadorAgendamento{
  height: 10vh;
  width: 50vw;
  margin-top: 2vw;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.containerImageCuidadorAgendamento{
  height: 5vh;
  width: 45vw;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.mapCardAgendamento{
  height: 15vh;
  min-height: 13.4vh;
  width: 45vw;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  margin-top: 5.5vw;
}

.imageCuidador {
  height: 12.5vh;
  min-width: 7vw;
  border-radius: 100%;
  object-fit: cover;
}

.valorCuidadorAgendamento{
  font-size: 3.2rem;
  margin-top: 5rem;
  color: #f28907;
}

.infoCuidador {
  height: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  margin-left: 3.3vw;
  margin-top: 4vw;
  color: var(--main-color);
}

.nameCuidador {
  margin-left: 1.3vw;
  margin-top: 5vw;
  margin-bottom: 0.2rem;
  font-weight: bolder;
  color: #fff;
text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
  font-size: 3.1rem;
}

.hourCuidador {
  font-size: 1.6rem;
  color: var(--colorLocation);
  margin-left: 2rem;
}

.containerBio {
  height: 0rem;
  width: 35rem;
  min-height: 3rem;
  display: flex;
  margin-left: 1.8rem;
}

.modalMapAgendamento{
  height: 131.5vh;
  width: 45vw;
}
