@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

:root {
  --main-color: #f28907;
  --black: rgba(0, 0, 0, 0.5);
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
  --colorLocation: #949494;
  --colorBiography: #808080;
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  color: #000;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.containerMain {
  height: 165rem;
  width: 100vw;
  max-height: 500rem;
}

.map {
  height: 25vh;
  width: 100vw;
}

.containerAgendamento {
  height: 80rem;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.containerInputSearch {
  height: 10rem;
  width: 92vw;
}

#iconSearch {
  position: absolute;
  height: 4rem;
  width: 4.5rem;
  margin-top: 2.3rem;
  padding-left: 1.7rem;
}

.inputSearch {
  height: 4.9rem;
  width: 80vw;
  border-radius: 14rem;
  margin-top: 2rem;
  font-size: 2.6rem;
  padding-left: 6.5rem;
}

#containerMainCard {
  height: 100rem;
  width: 91vw;
  max-height: 1000rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

/* Container dos cards do cuidador começa aqui */

.containerCardCuidadores {
  margin-top: 3.4rem;
  height: 90rem;
  width: 45vw;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.containerInfoCuidadores {
  margin-top: 3.4rem;
  height: 115rem;
  width: 37.5vw;
  background-color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
  rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  margin-right: 1rem;
}

.card {
  height: 45rem;
  width: 30vw;
  max-width: 40vw;
  background-color: #fff;
  margin-top: 3rem;
  margin-left: 5vh;
  border-radius: 2.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.contentCenterCuidador {
  height: 9rem;
  width: 75rem;
  display: flex;
  flex-direction: row;
  margin-top: 1.5rem;
}

.imageCuidador {
  height: 8.8rem;
  width: 8.8rem;
  background-image: url("../../../images/imageCuidador1.png");
  margin-left: 2rem;
}

.infoCuidador {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-top: 0.7rem;
}

.nameCuidador {
  font-size: 2.1rem;
  color: #000;
  margin-left: 2rem;
  margin-bottom: 0.2rem;
  font-weight: bolder;
}

.hourCuidador {
  font-size: 1.6rem;
  color: var(--colorLocation);
  margin-left: 2.7rem;
}

.containerRating {
  margin-top: 0.7rem;
  margin-left: 5rem;
}

.containerBio {
  height: 0rem;
  width: 40rem;
  display: flex;
}

.biographyCuidador {
  font-size: 1.5rem;
  color: var(--colorBiography);
  margin-top: 0.7rem;
}

.containerMap {
  height: 10rem;
  width: 12.5vw;
  display: flex;
  justify-content: end;
  margin-left: 27.9rem;
}

.localMap {
  height: 16rem;
  width: 12.5vw;
}

/* Container de modal */
.cardModal {
  height: 90rem;
  width: 89.9rem;
}
.containerBanner {
  height: 36rem;
  width: 37.5vw;
}

.imageCuidadorServico {
  height: 11rem;
  width: 11.4rem;
  background-size: cover;
  background-image: url("../../../images/imagePerfilCuidador.png");
  margin-left: 2rem;
}

.nameCuidadorModal {
  font-size: 2.4rem;
  color: #000;
  margin-left: 1rem;
  margin-bottom: 0.2rem;
  font-weight: bolder;
}

.hourCuidadorModal {
  font-size: 1.9rem;
  color: var(--colorLocation);
  margin-left: 1.4rem;
}

.containerServicos {
  height: 40rem;
  width: 70rem;
  margin-top: 3rem;
  margin-left: 7vw;
  margin-right: auto;
  text-align: center;
}

.tituloServicos {
  text-align: center;
  font-size: 2.8rem;
  color: var(--colorBiography);
  margin-left: 5rem;
}

.containerCardServicos {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.cardPetTrip,
.cardPetHome {
  height: 20rem;
  width: 25rem;
  margin-right: 5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 1px 2px 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.titleServices {
  height: 3rem;
  width: 22rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.titleServices,
h4 {
  font-size: 1.7rem;
  padding: 0.3rem;
  text-transform: uppercase;
}

.titleServices,
h5 {
  font-size: 1.7rem;
  color: var(--main-color);
}

.descServices {
  font-size: 1.3rem;
  color: var(--colorBiography);
  text-align: center;
}

.descServices p {
  font-size: 1.3rem;
  color: var(--colorBiography);
}

.imagePetTrip {
  height: 3.7rem;
  width: 5.78rem;
  flex-direction: column;
  background-image: url("../../../images/imagePetTrip.png");
}

.imagePetHome {
  height: 3.7rem;
  width: 5.78rem;
  background-size: cover;
  justify-content: center;
  background-image: url("../../../images/imagePetHouse.png");
}

.textServices {
  font-size: 1.2rem;
  text-align: center;
}

.containerSelectPeso1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  margin-top: 0.6vw;
}

.containerInputsSelectPeso2 {
  height: 20rem;
  width: 75rem;
  padding-top: 2rem;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border: solid 2px #F28907;
  border-radius: 4rem;
}
/* Container dos cards do cuidador termina aqui */