@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

:root {
  --main-color: #f28907;
  --black: rgba(0, 0, 0, 0.5);
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
  --colorLocation: #949494;
  --colorBiography: #808080;
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  color: #000;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.containerMain {
  height: 165rem;
  width: 100vw;
  max-height: 500rem;
}

.map {
  height: 35rem;
  width: 100vw;
}

.containerAgendamento {
  height: 150rem;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.containerInputSearch {
  height: 10rem;
  width: 92vw;
}

#iconSearch {
  position: absolute;
  height: 4rem;
  width: 4.5rem;
  margin-top: 2.3rem;
  padding-left: 1.7rem;
}

.inputSearch {
  height: 4.9rem;
  width: 80vw;
  border-radius: 14rem;
  margin-top: 2rem;
  font-size: 2.6rem;
  padding-left: 6.5rem;
}

#containerMainCard {
  height: 131.6vh;
  width: 95vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

/* Container dos cards do cuidador começa aqui */

.containerCardCuidadores {
  height: auto;
  min-height: 1360vh;
  overflow: scroll;
  width: 45vw;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.containerInfoCuidadores {
  margin-top: 1.8vw;
  height: 133vh;
  width: 52.8vw;
  background-color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
  rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  margin-right: 1rem;
}

.containerScrollCardCuidadores{
  height: 136.6vh;
  width: 50vw;
  overflow: scroll;
}

.card {
  height: auto;
  min-height: 25vh;
  width: 40vw;
  min-width: 25vw;
  margin-top: 1.8vw;
  background-color: #fff;
  margin-left: 5vh;
  border-radius: 2.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.contentCenterCuidador {
  height: 20vh;
  width: 25vw;
  min-width: 20vw;
  display: flex;
  flex-direction: row;
  margin-top: 1.5rem;
}

.iconInputSave{
  font-size: 1.9rem;
  float: right;
  position: absolute;
}

.imageCuidador {
  height: 8.8vh;
  width: 4.9vw;
  /* background-image: url("../../../images/imageCuidador1.png"); */
  margin-left: 2rem;
}

.infoCuidador {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-top: 0.7rem;
}

.nameCuidador {
  font-size: 2.1rem;
  color: #000;
  margin-left: 2rem;
  margin-bottom: 0.2rem;
  font-weight: bolder;
}

.hourCuidador {
  font-size: 1.6rem;
  color: var(--colorLocation);
  margin-left: 2rem;
}

.containerRating {
  margin-top: 0.3rem;
  margin-left: 1.7rem;
}

.containerBio {
  height: 0rem;
  width: 35rem;
  min-height: 3rem;
  display: flex;
  margin-left: 1.8rem;
}

.biographyCuidador {
  font-size: 1.7rem;
  color: var(--colorBiography);
  margin-top: 0.7rem;
}

.containerMap {
  height: 20vh;
  width: auto;
  min-width: 12.7vw;
  display: flex;
  margin-left: 1vw;
}

.localMap {
  height: 22vh;
  width: 15vw;
  min-width: 10vw;
}
