<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.petcaretcc">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PetCareTCC"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".TelaPerfilCliente"
            android:exported="false" />
        <activity
            android:name=".TelaPagamento"
            android:exported="false" />
        <activity
            android:name=".TelaDadosServico"
            android:exported="false" />
        <activity
            android:name=".PagamentoRecusado"
            android:exported="false" />
        <activity
            android:name=".PagamentoAprovado"
            android:exported="false" />
        <activity
            android:name=".LandingPage"
            android:exported="true" >



        </activity>
        <activity
            android:name=".ConfirmacaoPagamento"
            android:exported="false" />
        <activity
            android:name=".BuscaPorCuidador"
            android:exported="false" />
        <activity
            android:name=".CadastroCuidadorEndereco"
            android:exported="true" />
        <activity
            android:name=".HistoricoServicoCliente"
            android:exported="true" />
        <activity
            android:name=".TelaAgendamento"
            android:exported="true">

        </activity>
        <activity
            android:name=".TelaLoading"
            android:exported="false" />
        <activity
            android:name=".PerfilCuidadorDetalhes"
            android:exported="false" />
        <activity
            android:name=".PerfilCuidadorBio"
            android:exported="false" />
        <activity
            android:name=".CadastroPet"
            android:exported="false" />
        <activity
            android:name=".EditarPerfilCuidador"
            android:exported="true">
        </activity>
        <activity
            android:name=".EditarPerfilCliente"
            android:exported="false" />
        <activity
            android:name=".CadastroCliente"
            android:exported="false" />
        <activity
            android:name=".TelaRedirecionamento"
            android:exported="false" />
        <activity
            android:name=".AlterarSenha"
            android:exported="false" />
        <activity
            android:name=".BoasVindas"
            android:exported="false" />
        <activity
            android:name=".RecuperarSenha"
            android:exported="false" />
        <activity
            android:name=".CadastroCuidador"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="geo" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
    </application>

</manifest>