
.containerCheckBox{
  height: 8rem;
  width: 92rem;
  display: flex;
  justify-content:center;
}

.containerCheckBox, label{
  font-size: 2.3rem;
  color: #f28907;
}

#containerLink{
    margin-top: 5rem;
    height: 20rem;
    width: 90rem;
    display: flex;
    justify-content: right;
    align-items: right;
    margin-left: 3rem;
  }
  
  .containerLink, a {
    height: 10rem;
    margin: 0.5rem;
    font-size: 2.0rem;
  }
  
  .containerLink, .linkEntreAgora{
    color: #f28907;
  }