
.containerCheckBox{
  height: 8rem;
  width: 50vw;
  position: absolute;
  margin-top: -4.5vw;
  margin-left: 5vw;
  display: flex;
  justify-content:center;
}

.containerCheckBox, label{
  font-size: 2.3rem;
  color: #f28907;
}

#containerLink{
    height: 5vh;
    width: 45vw;
    margin-top: 5vw;
    display: flex;
    justify-content: right;
    align-items: right;
    margin-left: 10vw;
  }

  #containerLinkCliente{
    height: 5vh;
    width: 50vw;
    margin-top: 5vw;
    display: flex;
    justify-content: right;
    align-items: right;

  }

  #containerLinkNext{
    margin-top: 31rem;
    height: 20rem;
    width: 90rem;
    display: flex;
    justify-content: right;
    align-items: right;
    margin-left: 3rem;
  }
  
  .containerLink, a {
    height: 10rem;
    margin: 0.5rem;
    font-size: 2.0rem;
  }
  
  .containerLink, .linkEntreAgora{
    color: #f28907;
  }

  .linkHaveAccount{
    color: #000;
    position: absolute;
    min-width: 20vw;
    margin-left: -24.5rem;
  }