@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

:root {
  --main-color: #f28907;
  --black: rgba(0, 0, 0, 0.5);
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  color: #000;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

body{
  background-color: #f28907;
}

#containerMain {
 height: 1061px;
 width: 210rem;
 margin-top: 10rem;
  display: flex;
  align-items: center;
  -ms-flex-pack: end;
  position: relative;
  margin-left: 25rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  background-color: #fff;
}


#containerInput {
  height: 8vh;
  width: 47vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 7rem;

}

#containerBorderImage {
  height: 17rem;
  width: 17rem;
  margin-top: 1rem;
  background-color: #fff;
  border: none;
  border-radius: 100%;
  border: solid 3px #f28907; 
}

.inputImage{
  margin-top: 4.5rem;
  height: 10rem;
  width: 10rem;
  display: flex;
  position: absolute;
  opacity: 0;
}

#iconInputCamera{
  margin-top: 5.5rem;
  margin-left: 4.2rem;
}

#contInputs {
  height: 6.9rem;
  width: 82rem;
  margin-bottom: 2rem;
  margin-top: 3.5rem;
  flex-direction: row;
  margin-bottom: 40px;
  margin-left: 7.5rem;
}

#contInputsMoradia{
  height: 12.9rem;
  width: 91rem;
  background-color: #fff;
  margin-bottom: 2rem;
  margin-top: 3.5rem;
  flex-direction: row;
  margin-left: 4.6rem;
}

#InputsContainer, #senhaForca{
  margin-left: 265px;
}

#nome, #sobrenome, #email, #confirmarSenha{
  font-size: 2.5rem;
  font-weight: 500;
  margin-right: 3rem;
}

#senha{
  font-size: 2.4rem;
}

.containerInputSenhaCuidador{
  height: 6.5rem;
  width: 19vw;
  min-width: 10.5vw;
  margin-right: 1.3vw;
  font-size: 2.2rem;
  border: solid 1px #f28907;
  border-radius: 1.5rem;
  padding-left: 6.2rem;
}


#InputsContainerSelect{
  height: 6.5rem;
  width: 44rem;
  font-size: 2.2rem;
  padding-left: 1rem;
  border: solid 1px #f28907;
}

#InputsContainerCheckbox{
  padding-left: 195px;
}

#InputsContainerPreferences{
  margin-right: 44.4rem;
}

#contInputStretcCadastro{
  height: 5rem;
  margin-bottom: 60px;
  margin-right: 38rem;
}

#iconInputLabel{
  height: 4rem;
  width: 4rem;
  overflow: hidden;
}

.iconInputLabelCpf{
  height: 4rem;
  width: 4rem;
  position: absolute;
  margin-top: 3vh;
  margin-left: 0.8vh;
 
}


#iconInputLabelLeft{
  height: 4rem;
  width: 4rem;
  margin-top: 1.5rem;
  margin-left: 2.5rem;
  position: absolute;
}

#iconInputCPF{
  height: 45px;
  position: absolute;
  align-items: left;
  width: 3.5rem;
  padding-left: 2rem;
  padding-top: 3rem;
}

#inputCPF{
  margin-top: 10rem;
}

#inputNome, #inputSobrenome, #inputEmail, #inputSenha, #inputConfirmarSenha{
  padding-left: 6rem;
}

input #iconInputNome{
  height: 45px;
  border-bottom: none;
}

#iconInputSobrenome{
  height: 45px;
}

#inputNameIcon{
  border: none;
  background-color: #932;
  position: none;
}

#impSenha, #erroSenhaForca{
  margin-top: 5rem;
  font-size: 2.5rem;
  font-weight: bold;
}

#iconInputCamera{
  width: 8rem;
  height: 5rem;
}

#containerInputCheckbox{
 height: 7rem;
  margin-right: 50rem;
}

.containerInputs{
  height: 6.5rem;
  width: 39rem;
  font-size: 2.2rem;
  border: solid 1px #f28907;
  border-radius: 1.5rem;
  padding-left: 5.8rem;
}

.containerInputLimitacoes{
  height: 6.5rem;
  width: 39.3vw;
  font-size: 2.2rem;
  border: solid 1px #f28907;
  border-radius: 1.5rem;
  padding-left: 6.2rem;
}

.containerInputMoradia{
  height: 6.5rem;
  width: 89rem;
  font-size: 2.2rem;
  border: solid 1px #f28907;
  border-radius: 1.5rem;
  padding-left: 6.2rem;
  margin-left: 2rem;
}

#moradiaCuidador{
  width: 39.2rem;
}

.containerPreferences{
  margin-left: 2rem;
  margin-top: 2.8rem;
}

.containerInputPreferencias{
  height: 6.5rem;
  width: 83.3rem;
  font-size: 2.2rem;
  border: solid 1px #f28907;
  border-radius: 1.5rem;
  padding-left: 5.2rem;
}

.containerInputBiografia{
  margin-top: 2.5rem;
}


.inputBiografia{
  height: 6.5rem;
  width: 83.3rem;
  font-size: 2.7rem;
  border: solid 1px #f28907;
  border-radius: 1.5rem;
  padding-left: 5.3rem;
}

#teste{
  height: 70vh;
  width: 43vw;
  overflow-x: hidden;
  color: #000;
}

#teste::-webkit-scrollbar{
  border-radius: 8px;
  background-color: rgb(214, 214, 214);
}

#teste::-webkit-scrollbar-thumb{
  background-color: #f28907;
  border: 6px;
}

#contInputsScroll{
  margin-top: 3rem;
}

.containerInputEmailScroll{
  height: 6.5rem;
  width: 39vw;
  min-width: 29.5vw;
  font-size: 2.2rem;
  border: solid 1px #f28907;
  border-radius: 1.5rem;
  padding-left: 5.5rem;
}

.inputCalendarScroll{
  height: 6.5rem;
  width: 19vw;
  min-width: 15vw;
  padding-right: 3rem;
  margin-right: 2.8rem;
  font-size: 2.2rem;
  padding-left: 1rem;
  border: solid 1px #f28907;
  border-radius: 1.5rem;
}

#InputsContainerSelectScroll{
  height: 6.5rem;
  width: 18.6vw;
  min-width: 10vw;
  padding-right: 3rem;
  margin-right: 2.8rem;
  font-size: 2.2rem;
  padding-left: 1rem;
  border: solid 1px #f28907;
  border-radius: 1.5rem;
}

.containerInputCpfScroll{
  height: 6.5rem;
  width: 38.9vw;
  min-width: 30.9vw;
  margin-top: 3rem;
  padding-right: 3rem;
  margin-right: 2.8rem;
  padding-left: 5.5rem;
  font-size: 2.5rem;
  border: solid 1px #f28907;
  border-radius: 1.5rem;
}

.containerInputMoradiaScroll{
  height: 6.5rem;
  width: 19.7vw;
  min-width: 12vw;
  padding-right: 3rem;
  padding-left: 5.5rem;
  font-size: 2.5rem;
  border: solid 1px #f28907;
  border-radius: 1.5rem;
}

.containerInputLocal{
  height: 6.5rem;
  width: 18.5vw;
  min-width: 12.4vw;
  padding-right: 3rem;
  padding-left: 5.5rem;
  font-size: 2.5rem;
  border: solid 1px #f28907;
  border-radius: 1.5rem;
  margin-left: -7.4rem;
}

.containerPreferencesScroll{
  width: 75.5rem;
  margin-top: 3rem;
}

#contInputCheckboxScroll{
  height: 6.5rem;
  width: auto;
  min-width: 18.3vw;
  padding-right: 3rem;
  font-size: 2.5rem;
  border: solid 1px #f28907;
  border-radius: 1.5rem;
}

#contInputCheckboxScrollAnimals{
  height: 6.5rem;
  width: 19.3vw;
  min-width: 10.3vw;
  padding-right: 3rem;
  margin-right: 1.2vw;
  font-size: 2.5rem;
  border: solid 1px #f28907;
  border-radius: 1.5rem;
}

#containerButtonScroll{
  margin-left: 10vh;
  margin-top: 2rem;
  margin-bottom: 10rem;
}

#buttonCadastrarScroll{
  margin-bottom: 5rem;
}