#containerMainPet {
  height: 1459px;
  width: 210rem;
  margin-top: 10rem;
  display: flex;
  align-items: center;
  -ms-flex-pack: end;
  position: relative;
  margin-left: 25rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  background-color: #fff;
}

#InputsContainerSelect {
  margin-right: 10px;
  border-radius: 1.5rem;
}

.InputsContainerSelectEspecie{
  height: 6.5rem;
  width: 88.7rem;
  font-size: 2.2rem;
  border: solid 1px #f28907;
  border-radius: 1.5rem;
  padding-left: 1.2rem;
  margin-right: 10px;
  border-radius: 1.5rem;
}

#containerInputCheckbox {
  width: 18rem;
  margin-left: 6.7rem;
  display: flex;
}

#containerInputCheckbox,
label {
  margin-right: 5rem;
  padding-right: 5rem;
}

.lastLabel {
  margin-right: 5rem;
  font-size: 1.5rem;
}

#containerInputsPet {
  height: 110rem;
  width: 98rem;
  margin-left: 90px;
  background-color: #fff;
}

#contInputsPet {
  height: 4.5rem;
  width: 115rem;
  max-width: 100rem;
  margin-bottom: 4.6rem;
  flex-direction: row;
  margin-left: 6.5rem;
  
}

/* Conteudo Pet NextPage começa aqui*/

#contInputsPetCheckbox {
    height: 4.5rem;
    width: 92rem;
    margin-bottom: 2rem;
    flex-direction: row;
    margin-bottom: 45px;
    margin-left: 6.5rem;
    display: flex;
    border-radius: 10,
}

#contInputCheckbox {
  height: 6rem;
  width: 44rem;
  margin-bottom: 15px;
  margin-right: 2rem;
  margin-bottom: 6rem;
  border-radius: 1.5rem;
}

.containerSelectPeso{
  height: 20rem;
  margin-left: 10rem;

}

.containerInputsSelectPeso{
  height: 20rem;
  width: 85rem;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border: solid 2px #F28907;
  border-radius: 4rem;
}

h3{
  font-size: 2.7rem;
  text-align: center;
}

.checkmarkPeso {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.containerSelectPesoMarked{
  height: 10rem;
  width: 8rem;
  padding-left: 4rem;
  text-align: center;
}

.containerSelectPesoMarked:hover input ~ .checkmarkPeso {
  background-color: #ccc;
}

.containerSelectPesoMarked input:checked ~ .checkmarkPeso {
  background-color: #2196F3;
}

.containerSelectPesoMarked:after {
  content: "";
  position: absolute;
  display: none;
}

.containerSelectPesoMarked input:checked ~ .checkmarkPeso:after {
  display: block;
}

.containerSelectPesoMarked .checkmarkPeso:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}


#peso5kg{
  height: 12.9rem;
  width: 13.7rem;
  -webkit-background-size: cover;
  background-size: cover;
  background-image: url("../../../images/peso5kg.png");
}

#peso10kg{
  height: 12.9rem;
  width: 13.7rem;
  -webkit-background-size: cover;
  background-size: cover;
  background-image: url("../../../images/peso10kg.png");
}

#peso20kg{
  height: 13.9rem;
  width: 13.7rem;
  -webkit-background-size: cover;
  background-size: cover;
  background-image: url("../../../images/peso20kg.png");
}

#peso40kg{
  height: 13.9rem;
  width: 13.7rem;
  -webkit-background-size: cover;
  background-size: cover;
  background-image: url("../../../images/peso40kg.png");
}

.radioPeso{
  margin-left: 5rem;
  margin-top: 3rem;
}

.containerInputNomePet{
  height: 6.5rem;
  width: 43rem;
  font-size: 2.2rem;
  border: solid 1px #f28907;
  border-radius: 1.5rem;
  padding-left: 6rem;
  margin-right: 2rem;
}

/* Conteudo Pet NextPage termina aqui*/
