@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

:root {
  --main-color: #f28907;
  --black: rgba(0, 0, 0, 0.5);
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
  --error: red;
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  color: #000;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

body{
  background-color: #f28907;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

#containerMainInputs {
 height: 1450px;
 width: 210rem;
 margin-top: 10rem;
  display: flex;
  align-items: center;
  -ms-flex-pack: end;
  position: relative;
  margin-left: 25rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  background-color: #fff;
}
#containerInputsCliente{
  height: 125rem;
  width: 142rem;
  background-color: #fff;
}

#containerInputs,
h1 {
  font-size: 6.5rem;
  color: #f28907;
}

#inputContCliente {
  height: 52rem;
  margin-bottom: 15px;
  background-color: #fff;
  margin-top: 7rem;
}

.InputsContainerSelectCliente{
  height: 6.5rem;
  width: 42rem;
  font-size: 2.2rem;
  padding-left: 1rem;
  border: solid 1px #f28907;
  border-radius: 1.5rem;
}

#contInputStretch{
  height: 5rem;
  margin-bottom: 3.8rem;
  margin-left: 6.5rem;
}

.inputCalendar{
  height: 6.5rem;
  width: 21.8vw;
  padding-right: 3rem;
  font-size: 2.2rem;
  padding-left: 1rem;
  border: solid 1px #f28907;
  border-radius: 1.5rem;
}

.containerInput{
  height: 6.5rem;
  width: 21vw;
  min-width: 13.6rem;
  font-size: 2.2rem;
  border: solid 1px #f28907;
  border-radius: 1.5rem;
  padding-left: 5.5rem;
}

.containerInputNome, .containerInputSobrenome, .containerInputCpf, .containerInputMoradia{
  height: 6.5rem;
  width: 18.8vw;
  font-size: 2.2rem;
  border: solid 1px #f28907;
  border-radius: 1.5rem;
  padding-left: 5.5rem;
}

.containerInputEmail, .containerInputCpf{
  height: 6.5rem;
  width: 42.3vw;
  font-size: 2.2rem;
  border: solid 1px #f28907;
  border-radius: 1.5rem;
  padding-left: 5.5rem;
}

#iconInputLabel{
  position: absolute;
  margin-top: 1.5rem;
  margin-left: 1rem;
}

.containerInputSenha{
  height: 6.5rem;
  width: 36rem;
  margin-right: 2rem;
  font-size: 2.2rem;
  border: solid 1px #f28907;
  border-radius: 1.5rem;
  padding-left: 5.5rem;
}

#contInputsControl {
  height: 4.5rem;
  width: 115rem;
  max-width: 100rem;
  margin-bottom: 4.6rem;
  flex-direction: row;
  display: flex;
  margin-left: 6.5rem;
  
}
.form-control{
  height: 6.5rem;
  width: auto;
  min-width: 20.7vw;
  margin-right: 2rem;
  border: solid 1px #f28907;
  border-radius: 1.5rem;
  padding-left: 1rem;
}

.form-control.error{
  border: solid 4px red;
}

.containerInputSenhaControl{
  width: 15vw;
  min-width: 18vw;
  font-size: 2.5rem;
  padding-left: 4rem;
  padding-top: 1.9rem;
}

#iconInputLabelControl{
  font-size: 3.5rem;
  margin-top: 1.5rem;
  position: absolute;
}

.containerInputConfirmarSenha{
  height: 6.5rem;
  width: 48rem;
  font-size: 2.2rem;
  border: solid 1px #f28907;
  border-radius: 1.5rem;
  padding-left: 5.5rem;
}

.containerInputTelefone{
  height: 6.5rem;
  width: 5vw;
  min-width: 20vw;
  font-size: 2.2rem;
  border: solid 1px #f28907;
  border-radius: 1.5rem;
  padding-left: 5.5rem;
}

.modal-container{
  width: 100vw;
  height: 100vh;
  background: rgb(0, 0, 0, .5);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2000;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal{
  background: white;
  width: 35%;
  height: 35%;
  min-width: 300px;
  padding: 40px;
  border: 10px solid #88AED1;
  box-shadow: 0 0 0 10px white;
  position: relative;
}

.fechar{
  position: absolute;
  font-size: 1.2em;
  top: -30px;
  right: -30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 4px white;
  background: #88AED1;
  color: white;
  font-family: "PT Mono", monospace;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,.3);
  cursor: pointer;
}

.modal-container input{
  width: 250px;
  color: #000;
  border: solid 1px #88AED1;
  height: 35px;
  background: none;
  text-indent: 1.2rem;
  margin: 10px;
  font-size: 1.7rem;
}

.modal-container.mostrar{
  display: flex;
}

.modal-container .button{
  width: 200px;
  height: 45px;
  background-color: #88AED1;
  color: #fff;
  text-align: center;
  font-weight: bolder;
}

.modal-container .button:hover{
  width: 200px;
  height: 45px;
  background-color: #88AED1;
  color: #fff;
  text-align: center;
  font-weight: bolder;
  cursor: pointer;
}

.mostrar .modal {
  animation: modal .3s;
}

.modal-container h3{
  color: #88AED1;
  font-weight: bold;
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 10px;
}