@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

:root {
  --main-color: #f28907;
  --black: rgba(0, 0, 0, 0.5);
  --white : #fff;
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    color: #000;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }

.containerWelcome{
    height: 80vh;
    width: auto;
    min-width: 40vw;
    margin-top: 5vw;
    min-width: 50vw;
    max-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.containerBannerWelcome{
    height: 38vh;
    width: auto;
    min-width: 45vw;
    display: flex;
    justify-content: center;
}

.bannerWelcome{
    height: 50vh;
    width: 40vw;
    min-width: 40em;
    max-width: 90vw;
    background-size: cover;
    background-image: url("./../../../images/bannerWelcome.png");
}

.containerH1{
    height: 32vh;
    width: 25vw;
    min-width: 59em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titleWelcome{
    font-size: 6em;
    color: var(--white)  ;
}

.subtitleWelcome{
    width: 24em;
    min-width: 20rem;
    text-align: center;
    color: var(--white);
    font-size: 2.9em;
    opacity: 90%;
}

.containerButtonWelcome{
    height: 10vh;
    width: 55vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.containerButtonWelcome, input:hover{
    cursor: pointer;
}

.inputButtonWelcome{
    height: 5.8rem;
    width: auto;
    min-width: 49rem;
    margin: 3rem;
    border-radius: 1.5vh;
    background-color: #fff;
    font-size: 2.4rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-right: 22vh;
}

#iconInputWelcome{
    font-size: 4rem;
    position: absolute;
    margin-left: 19.4rem;
    margin-top: 0.8rem;
    float: right;
}