.containerInputsLogin{
  height: 46vh;
  width: 55vw;
  margin-bottom: 15rem;
  margin-left: 15rem;
  display: flex;
  justify-content:center;
  flex-direction:column;
  
}

#InputsLogin {
    margin-top: 15rem;
    height: 12.5vh;
    width: 34vw;
  }

  #iconInputLabelLogin{
    position: absolute;
    width: 6rem;
    height: 9.5rem;
    margin-left: 1rem;
  }

  .inputLogin{
    height: 8.5rem;
    width: 32vw;
    min-width: 32vw;
    margin-bottom: 3vw;
    font-size: 2.2rem;
    border: solid 4px #f28907;
    border-radius: 1.5rem;
    padding-left: 7.5rem;

  }

  @media only screen and (max-width: 1100px){
    .titleLogin{
      font-size: 3.7rem !important;
    }

    .inputLogin{
      height: 8.5rem;
      width: 43vw !important;
      min-width: 25vw;
      margin-bottom: 3vw;
      margin-top: 1rem !important;
      margin-left: -10rem;
      margin-top: 9rem;
      font-size: 2.2rem;
      border: solid 4px #f28907;
      border-radius: 1.5rem;
      padding-left: 7.5rem;
    }

    #iconInputLabelLogin{
      margin-top: 3rem ;
      height: 5rem;
      font-size: 1rem;
      margin-left: -9rem;
    }

    #buttonProximo{
      margin-top: -1.5rem;
      margin-left: -5rem;
    }

  }
