.buttonInfoCuidadorLandingPage{
    height: 5rem;
    width: 26rem;
    margin-top: 12rem;
    font-size: 1.7rem;
    text-transform: uppercase;
    border-radius: 55rem;
    color: #fff;
    background-color: #F28907;
}
